<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qiubochen.mojinghao">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".personsearch"
            android:label="会员"
            android:theme="@style/Mystyle" />
        <activity
            android:name=".persondetail"
            android:label="详细信息"
            android:theme="@style/Mystyle" />
        <activity
            android:name=".Goods"
            android:label="货物"
            android:theme="@style/Mystyle" />
        <activity android:name=".Operate" />
        <activity android:name=".createPeron" />
        <activity android:name=".createDeal" />
        <activity android:name=".createGoods"></activity>
    </application>

</manifest>